.App {
  font-family: sans-serif;
  text-align: center;
}
h3 {
  padding: 0%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
h4 {
  margin-block-start: 0em;
  margin-block-end: 1em;
}
.stuff {
  padding: 5%;
  text-align: left;
}
.hover1 :hover {
  background-color: #9ca3af;
  transform: scale(1.1);
  transition: all ease 500ms;
}
.hover2 :hover {
  background-color: #111827;
  color: aliceblue;
  transform: scale(1.1);
  transition: all ease 500ms;
}


